<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso para Inspectores</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Redressed&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css" />
<link rel="icon" type="image/x-icon" href="favicon-32x32.png">
</head>
<body>

<div class="mx-auto" style="width:200px;">
  <a href="/"><img src="EscudoLowood.png" alt="Lowood" class="lowoodProfesores" height="120px"></a>
</div>

<div class="mx-auto" style="width:200px;">
  <h1 class="sesionExito">Inicio de sesión exitoso. Bienvenid@ Inspector@ {{ inspector.nombre }}</h1>
</div>

<div class="container">
<img src="boys5.jpg" alt="estudiantes" width="100%">
</div>


<div class="container contenedorCursos">
  <div class="ms-5 row row-cols-xl-6 row-cols-sm-4 row-cols-md-4">
    <div class="col ms-5">
      <a href="/listaCursoInspector1"><button class="boton">1ro.Básico</button></a>
    </div>
    <div class="col ms-5">
      <a href="/listaCursoInspector2"><button class="boton">2do.Básico</button></a>
    </div>
    <div class="col ms-5">
       <a href="/listaCursoInspector3"><button class="boton">3ro.Básico</button></a>
    </div>
     <div class="col ms-5">
      <a href="/listaCursoInspector4"><button class="boton">4to.Básico</button></a>
    </div>
     <div class="col ms-5">
      <a href="/listaCursoInspector5"><button class="boton">5to.Básico</button></a>
    </div>
     <div class="col ms-5">
      <a href="/listaCursoInspector6"><button class="boton">6to.Básico</button></a>
    </div>
     <div class="col ms-5">
       <a href="/listaCursoInspector7"><button class="boton">7mo.Básico</button></a>
    </div>
     <div class="col ms-5">
      <a href="/listaCursoInspector8"><button class="boton">8vo.Básico</button></a>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>