body{
    background-image: linear-gradient(to right, #FC7006, #EFF507);
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Redressed', cursive;
    color: white;
}
.lowood{
   position: absolute; top: 50px; z-index:40;
}

.lowoodProfesores{
    position: absolute; margin-left: 40px; z-index:40;
}

.asistencia{
    position:absolute; top: 350px; z-index: 40;
}

@media(min-width:768px) {
    .asistencia{
    position:absolute; margin-left: -40px; top: 350px; z-index: 40;  
}
}

.botonInspector{
    position: absolute; margin-left: 250px; z-index:40; top: 40px;
}
.botonProfesor{
    position: absolute; z-index:40; top: 40px;
}
.botonInspectorGeneral{
    position: absolute; margin-left: -130px; z-index:40; top: 40px;
}

@media(min-width:768px) {
    .botonProfesor{
    position:absolute; margin-left: 50px; z-index: 40;  
}
}

@media(min-width:1900px) {
    .botonProfesor{
    position:absolute; margin-left: -40px; z-index: 40;
}
.botonInspector{
    position:absolute; margin-left: 40px; z-index: 40;
}
.botonInspectorGeneral{
    position:absolute; margin-left: -50px; z-index: 40; 
}
}

.boton{
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    color: #FFFFFF;
    height: 50px;
    line-height: 40px;
    font-size: 18px;
}

.sesionp{
    position:absolute; top: 120px;  z-index: 40;
    font-size: 25px;
}

@media(min-width:700px) {
    .sesionp{
    position:absolute; margin-left: 30px; top: 130px; z-index: 40; 
    font-size: 25px; 
}
}

.formulario{
    width: 300px;
    position:absolute; margin-left: -30px; top: 180px; z-index: 40;
    font-size: 18px;
    background-image: linear-gradient(to right, #FC7006, #EFF507);
}
@media(min-width:700px) {
    .formulario{
    position:absolute; margin-left: -20px; top: 180px; z-index: 40;
    background-image: linear-gradient(to right, #FC7006, #EFF507);  
}
}

.sesionExito{
    position:absolute; margin-left: -50px; top: 130px; z-index: 40; 
    font-size: 25px;
}

@media(min-width:700px) {
    .sesionExito{
    position:absolute; margin-left: -120px; top: 150px; z-index: 40; 
    font-size: 25px; 
}
}

.contenedorCursos{
    position: absolute; z-index:40;
}

@media(min-width:700px) {
    .contenedorCursos{
    position:absolute; top: 200px; z-index: 40;
    font-size: 25px; 
    display: inline-block;
    margin-left: 100px;
}
}

@media(min-width:1900px) {
    .contenedorCursos{
    position:absolute; top: 200px; z-index: 40;
    font-size: 25px; 
    display: inline-block;
    margin-left: 500px;
}
}

.botonAcceder{
     position: absolute; top: 420px; z-index:40;
     display: inline-block;
     margin-left: 350px;
}

@media(min-width:700px) {
    .botonAcceder{
     position: absolute; top: 400px; z-index:40;
     display: inline-block;
     margin-left: 300px;
}
}

.tituloCurso{
    position:absolute; margin-left: -5px; top: 130px; z-index: 40; 
    font-size: 35px;
}

@media(min-width:700px) {
    .tituloCurso{
    position:absolute; margin-left: -120px; top: 150px; z-index: 40; 
    font-size: 45px; 
}
}

.contenedorCursoEspecifico{
     position: absolute; top: 250px; z-index:40;
}

 @media (min-width: 768px) { 
     .contenedorCursoEspecifico{
    position:absolute; top: 200px; z-index: 40;
    margin-left: 300px;
  }
}

@media(min-width:1900px) {
    .contenedorCursoEspecifico{
    position:absolute; top: 200px; z-index: 40;
    margin-left: 600px;
}
}

.contenedorCursoEspecifico1{
     position: absolute; top: 250px; z-index:40;
}

 @media (min-width: 768px) { 
     .contenedorCursoEspecifico1{
    position:absolute; top: 200px; z-index: 40;
    margin-left: 200px;
  }
}

@media(min-width:1900px) {
    .contenedorCursoEspecifico1{
    position:absolute; top: 200px; z-index: 40;
    margin-left: 700px;
}
}

.botonGrabar{
    position: absolute; margin-left: 130px; z-index:40;
}

.botonEditar{
    position: absolute; z-index: 40; 
    display: inline-block;
}
.botonBorrar{
    position: absolute; z-index: 40; 
}

 @media (min-width: 768px) { 
     .botones{
   position:absolute; z-index: 40;
   margin-left: -10px ;
  }
}

@media(min-width:1900px) {
    .botones{
    position:absolute; z-index: 40; 
    margin-left: 10px;
}
}

 @media (min-width: 768px) { 
     .botones1{
   position:absolute; top: 390px; z-index: 40;
   margin-left: 100px ;
  }
}

@media(min-width:1900px) {
    .botones1{
    position:absolute; top: 450px; z-index: 40; 
    margin-left: 580px;
}
}

.registro{
    position:absolute; top: 200px; z-index: 40; 
    margin-left:-20px;
}

.agregarBox{
     position:absolute; top:300px; z-index: 40;
     margin-left: 170px;
}

.editarBox{
    position:absolute; top:300px; z-index: 40;
    margin-left: 170px;
}

.actualizar{
    position:absolute; top: 200px; z-index: 40; 
    margin-left:-90px;
}

@media(min-width:1900px) {
    .actualizarRegistro{
    position:absolute; z-index: 40; margin-left: -100px;
}
}

 @media (min-width: 768px) { 
     .actualizarRegistro{
   position:absolute; z-index: 40; margin-left: 500px ;
  }
}

@media (min-width: 768px) { 
     .confirmar{
    position:absolute; top: 200px; z-index: 40;
    margin-left: 200px;
  }
}

@media (min-width: 1900px) { 
     .confirmar{
    position:absolute; top: 200px; z-index: 40;
    margin-left: 600px;
  }
}

.formularioInspectorGeneral{
    width: 300px;
    position:absolute; margin-left: -30px; top: 300px; z-index: 40;
    font-size: 18px;
    background-image: linear-gradient(to right, #FC7006, #EFF507);
}